In [7]:
import torch
import torch.nn as nn
import torch.nn.functional as F
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# %matplotlib inline

### Creating a model class which inherits the nn.Module

which takes 4 inputs as paramters
- sepal length
- sepal width
- petal length
- petal width

forward it to a hidden layer 1 (H1) with n number of neurons >> \
which sends it to hidden layer 2 (H2) with the same n number of neurons >> \
then classifies as 3 classes of flowers

In [4]:
class Model(nn.Module):
    def __init__(self, in_feature = 4, h1 = 7, h2 = 7, out_features = 3):
        super().__init__()
        self.fc1 = nn.Linear(in_feature, h1)
        self.fc2 = nn.Linear(h1, h2)
        self.out = nn.Linear(h2, out_features)

    def forwards(self, x):
        x = F.relu(self.fc1(x)) #rectified linear unit function element-wise
        x = F.relu(self.fc2(x))
        x = self.out(x)
        return x

In [5]:
torch.manual_seed(33) #randomizing the initiation

model = Model() #creating an instance of the model class

In [32]:
#creating dataframe of the iris dataset

df = pd.read_csv('iris-dataset/iris.data', header = None, names = ['sepal_length' , 'sepal_width', 'petal_length', 'petal_width', 'species'])
df.head(10)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [33]:
df["species"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [47]:
#mapping each species to an integer
species_mapping = {
    'Iris-setosa': 1,
    'Iris-versicolor': 2,
    'Iris-virginica': 3
}

df['species'] = df['species'].map(species_mapping)

In [46]:
df['species'].unique()

array([1, 2, 3])